<div class="mx-5 my-2" mat-dialog-content>
  <p class="center">הוסף אסטרטגיה חדשה</p>
  <mat-radio-group style="direction: rtl;" [(ngModel)]="strategyType" aria-label="בחר סוג אסטרטגיה">
    <mat-radio-button value="rangeStrategy"> טווחים </mat-radio-button>
    <mat-radio-button value="percentStrategy"> אחוז רווח</mat-radio-button>
  </mat-radio-group>
  <form>
    <p class="m-0">:מניה</p>
    <input name="stock" [(ngModel)]="data.stock" />
    <p class="m-0">:תקציב</p>
    <input type="number" name="budget" [(ngModel)]="data.budget" />
    <div>
      <p class="m-0">:סוג עסקה</p>
      <input disabled value="lmt" name="userOrderType" [(ngModel)]="data.userOrderType" />
    </div>
    <div>
      <p class="m-0">:נקודת מינימום</p>
      <input type="number" [disabled]="strategyType != 'rangeStrategy'" name="minimum" [(ngModel)]="data.minimum" />
    </div>
    <div>
      <p class="m-0">:נקודת מקסימום</p>

      <input type="number" [disabled]="strategyType != 'rangeStrategy'" name="maximum" [(ngModel)]="data.maximum" />
    </div>
    <div>
      <p class="m-0">:אחוזי רווח</p>
      <input type="number" [disabled]="strategyType != 'percentStrategy'" name="percent" [(ngModel)]="data.percent" />
    </div>
  </form>
</div>
<div class="center" mat-dialog-actions>
  <button mat-button (click)="close()">בטל</button>
  <button mat-button class="color-action" (click)="save()" cdkFocusInitial>שמור</button>
</div>
