@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '~@angular/material/theming';

//color, main, action, secondary, light
$c-m: #41B3A3;
$c-a: rgb(197, 48, 95);
$c-s:rgb(226, 85, 46);
$c-a-l: #E8A87c;
$c-m-l: #85DCBA;

$main-bg: #EBEEF2;

.center {
  @extend .d-flex;
  @extend .justify-content-center
}

.progress .mat-progress-bar-fill::after {
  background-color: $c-a !important;
}

.center-ver {
  margin-top: auto;
  margin-bottom: auto;
}

.bg-main {
  background-color: $c-m;
}

.bg-second {
  background-color: $c-s;
}

.bg-second-l {
  background-color: $c-a-l;
}

.color-action {
  color: $c-a;
}

.btn-action {
  background-color: $c-a;
  color: white !important;
}

.btn-main {
  background-color: $c-m;
  color: white !important;
}

.btn-second {
  background-color: $c-s;
  color: white !important;
}

nav {
  background-color: $c-m;
}

body {
  direction: rtl;
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

p {
  text-align: right !important;
}

html,
body {
  height: 100%;
  background-color: $main-bg;
}

button {
  font-size: 14px !important;
  padding: 0px 20px !important;
}

.navbar {
  padding: 0px;
}

hr {
  @extend .m-0;
  background-color: $c-m;
}


/* CSS for main component */
.dash-card .title {
  color: $c-m;
  font-size: 18px;
  font-weight: 400;
}

.dash-card {
  @extend .p-2;
}

.dash-card p {
  color: #999;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $c-m-l;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $c-m;
}

/* end */
