<div class="row">
  <h2>הגדרות</h2>


</div>
<div class="row">
  <div class="col-10 col-5">
    <form #settingsForm="ngForm" (ngSubmit)="submit()">
      <div class="form-group">
        <p for="exampleInputEmail1">מפתח API</p>
        <input name="apiKey" [(ngModel)]="model.apiKey" type="text" class="form-control">
      </div>
      <div class="form-group">
        <p for="exampleInputPassword1">מפתח API סודי</p>
        <input name="apiSecret" [(ngModel)]="model.apiSecret" type="text" class="form-control">
      </div>

      <div class="form-check">
      </div>
      <button type="submit" class="btn btn-action center">שמור</button>
    </form>
  </div>
</div>
