<div class="row">
  <h2>אלגו-טריידר</h2>
</div>
<div class="row">
  <div class="col-10 col-5">
    <form #traderSettingForm="ngForm" (ngSubmit)="start()">
      <div class="form-group w-50">
        <p for="exampleInputPassword1">סכום קניה (%)</p>
        <input name="buyingValue" [(ngModel)]="tradingSetting.buyingValue" type="number" class="form-control">
      </div>
      <div class="form-group w-50">
        <p for="exampleInputPassword1">סכום מכירה (%)</p>
        <input name="sellingValue" [(ngModel)]="tradingSetting.sellingValue" type="number" class="form-control">
      </div>
      <div class="form-group">
        <app-chips [stocks]="tradingSetting.stocks"></app-chips>
      </div>
      <div class="form-check">
      </div>
      <button [disabled]="processing" *ngIf="!tradingSetting.isOn" type="submit"
        class="btn center btn-action">התחל</button>
    </form>

    <form *ngIf="tradingSetting.isOn" #traderSettingForm="ngForm" (ngSubmit)="stop()">
      <button type="submit" class="btn center btn-second">הפסק</button>
    </form>


  </div>
</div>
